.card-list {
  background-color: #e3e6e3;
  margin: 40px auto;

  .list-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    justify-content: center;
    max-width: 1300px;
    margin: auto;
  }
}
