.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ececefc7;
  top: 0;
  left: 0;
  z-index: 10;
}
.undo-overlay {
  visibility: visible;
  opacity: 1;
}
.side-drawer {
  height: 100%;
  background: #f2f2ef;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  &.open {
    transform: translateX(0);
  }

  .close-modal {
    position: absolute;
    top: 35px;
    left: 2em;
    border: 1px solid #1e2d2b;
    background: none;
    border-radius: 1em;
    background-color: #f2f2ef;
    font-size: 16px;
    cursor: pointer;
    color: #1e2d2b;
  }
  .title {
    color: #696969;
    font-weight: 400;
    font-family: FF Bau Medium;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin: 1.5em auto;
    line-height: 1.2;
  }
  .filter {
    select {
      width: 30%;
      margin-left: 1em;
      background-color: #fff;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

  .modal-footer {
    color: #1e2d2b;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22%;
    box-shadow: 0 -5px 3px -3px #ccc, 0 5px 3px -3px #ccc;
    background-color: #f2f2ef;
    text-align: center;

    .top {
      display: flex;
      padding: 0.5em 2em;
      justify-content: space-between !important;
      align-items: center;
      h4 {
        font-size: 16px;
      }
      h5 {
        font-size: 18px;
      }
    }
    h4,
    h5 {
      margin: 0.7em;
    }
    .bottom {
      padding: 0.5em 2em;
      button {
        width: 100%;
      }
    }
  }
  .modal-content {
    overflow-y: auto;
    height: calc(77% - 22%);
  }
  .modal-body {
    color: #1e2d2b;
    margin: 1em;
    .close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1em;
    }
    .close-card {
      border: none;
      background: transparent;
      font-size: 18px;
      color: #1e2d2b;
      cursor: pointer;
    }

    .inner {
      background-color: #fff;
      padding: 1em;
      margin-top: 1em;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      .top {
        display: flex;
        justify-content: space-between;
        .top-1 {
          color: #1e2d2b;
          margin-bottom: 0;
          letter-spacing: 0.03px;
          padding: 0;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          line-height: 1.5;
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      img {
        width: 4rem;
        height: 3em;
        background-size: cover;
      }
      .box {
        padding: 0 0.8em;
        border: 1px solid #232222;
        display: flex;
        justify-content: space-around;
        width: 6em;
        button,
        h4 {
          margin: 0.5em;
        }
        button {
          cursor: pointer;
          font-size: 1em;
          border: none;
          background-color: transparent;
        }
      }

      .bottom {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .side-drawer {
    width: 40%;
    .top-1 {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
    img {
      width: 8rem;
      height: 10em;
      background-size: cover;
    }
  }
}
